.liststyle{
    font-size: large;
    color: black;
    
}
.logo
{
    background-color: aquamarine;
    background-image: url("D:\Java\Projects\Front end stack\frontendproject1\src\assets\images\logo2.png");
    background-repeat: no-repeat;
    height: 90px;
    width: 100px;
}
.head1
{
    text-align: right;
}
h4{
    font-size: 36px;
  background: -webkit-linear-gradient(rgb(222, 148, 51), rgb(151, 38, 143));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    

}

.dish
{
    background-image: url("D:\Java\Projects\Front end stack\frontendproject1\src\assets\images\dish.jpg");

}

.user
{
    float: right;
}

