<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text">Order Placed</p>
                <img src="https://i.pinimg.com/564x/e8/57/4f/e8574f91c1f0fa595f74f4599c972d27.jpg">
                <button type="button" class="btn btn-success backbtn" (click)="back()">Back</button>
                </div>
                
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                
                  <img src="https://i.pinimg.com/564x/95/48/d9/9548d9dbdc6774950eab80ee192e7cbf.jpg"
                    class="img-fluid" alt="Sample image" class="order">
                  
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>