<section class="vh-100 bg-image"
  style="background-image: url('https://i.pinimg.com/564x/91/c3/a6/91c3a66d20fc3142ed817871bdd951e4.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Add Product</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" name="productname" id="productname" [(ngModel)]="product.productname" class="form-control form-control-lg" />
                   <label class="form-label" for="productname">Product Name</label>
                </div>

                <div class="col-md-6 mb-4">
                    <select class="form-select" name="category" [(ngModel)]="product.category" id="category" >
                      <option value="Pizza">Pizza</option>
                      <option value="Pasta">Pasta </option>
                      <option value="Salad">Salad</option>
                      <option value="Dessert">Dessert</option>
                    </select>
                    <label class="form-label" for="category">Category</label>
                    </div>
                 
                <div class="form-outline mb-4">
                  <input type="text" name="price" [(ngModel)]="product.price" id="price" class="form-control form-control-lg" />
                  <label class="form-label" for="price">Price</label>
                </div>
                

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="addproduct()">Add</button>
                    &nbsp;
                    <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="back()">Back</button>
                </div>
              

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>