
 
.logo
{
    background-color: aquamarine;
    background-image: url("D:\Java\Projects\Front end stack\frontendproject1\src\assets\images\logo.png");
    height: 200px;
    background-repeat: no-repeat;
    width: 200px;
    float: left;
}
.login
{
    float: right;
    margin-top: 100px;
    margin-right: 10px;
    font-size: x-large;

}
.header-image
{
    background-color: aqua;
    background-image: url("D:\Java\Projects\Front end stack\frontendproject1\src\assets\images\food.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 50px;
  
}

.header
{
    height: 200px;
}
